<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">BIENVENIDOS A LA LIGA SECCER FANTASY MX</h1>
        <p class="lead">Apuesta, Gana dinero, Drogas y mujersuelas!!!</p>
    </div>
</div>
<strong>EQUIPOS MX</strong>
<div class="card-group">
    <div class="card" *ngFor="let team of teams">
      <img [src]="team.escudo" class="card-img-top" alt="..." style="width: 60%;align-self:center;">
      <div class="card-body">
        <h5 class="card-title">Equipo: {{team.team}}</h5>
        <p class="card-text">Coach: {{team.coach}}</p>
        <p class="card-text">Formacion: {{team.formacion}}</p>
        <p class="card-text">Nivel: {{team.nivel}}</p>
      </div>
    </div>
</div>