<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li routerLinkActive="active" class="nav-item"><a class="nav-link" [routerLink]="['home']">Home</a></li>
            <li routerLinkActive="active" class="nav-item"><a class="nav-link" [routerLink]="['team']">Team</a></li>
            <li routerLinkActive="active" class="nav-item"><a class="nav-link" [routerLink]="['player']">Player</a></li>
            <li routerLinkActive="active" class="nav-item"><a class="nav-link" [routerLink]="['teams']">Teams</a></li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>